body::-webkit-scrollbar {display: none;}     /*Taille de la scroollbar*/

:root {
    --background-main: #e3d8dd;
    --background-secondary: #0D1F33;
    --text-primary: #B3C0C9;
    --text-secondary: #E1E6EB;
    --button-main: #6C9FBF;
    --button-hover: #1C4A69;
    --border-detail: #7E5C48;
    --alert: #D9A17A;
    --link: #8EB9E0;
    --link-hover: #F0F4F7;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--background-main)  ;
}

.anti-scroll {     /*Quand le menu hamburger est cliqué, on peut plus scroller*/
    overflow: hidden;
}

.container {
    display: flex;
    padding: 3vw;
    justify-content: center;
    align-content: center;
    gap: 3vw;
    color: var(--text-primary);
}

.rightSide {
    display: flex;
    flex-direction: column;
    gap: 3vw; /* Adds a gap of 2vw between the .rightBox elements */
}

.leftBox, .rightBox{
    background-color: var(--background-secondary);
    border-radius: 10px;

}

@media screen and (max-width: 1080px) {
    .container {
        padding: 10vw;
        flex-direction: column;
        gap: 5vw;
    }

    .rightSide {
        gap: 5vw;
    }
}