:root {
    --primary-light: #E8D3D1;
    --primary-dark: #B4A7A9;
    --secondary-light: #D2DDE1;
    --secondary-dark: #9BA7AC;
    --accent: #F2C4BC;
    --body-background: #F5F4F6;
    --neutral-dark: #4A4548;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--body-background);  ;
}

.anti-scroll {     /*Quand le menu hamburger est cliqué, on peut plus scroller*/
    overflow: hidden;
}


/* parti avec les trois cellules */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
                "left right-top"
                "left right-bottom";
}

.cell {
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: var(--secondary-dark);
    min-height: 200px;
}

.left-cell {
    grid-area: left;
}

.right-top-cell {
    grid-area: right-top;
}

.right-bottom-cell {
    grid-area: right-bottom;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
                    "right-top"
                    "left"
                    "right-bottom";
    }
}