body::-webkit-scrollbar {display: none;}     /*Taille de la scroollbar*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #000000;
}

.anti-scroll {     /*Quand le menu hamburger est cliqué, on peut plus scroller*/
    overflow: hidden;
}

.separation {
    display: none;
    background-color: #F5F5F5;
    height: 1vh;
}

.container {
    display: flex;
    padding: 3vw;
    justify-content: center;
    align-content: center;
    gap: 3vw;
    color: #F5F5F5;
}

.rightSide {
    display: flex;
    flex-direction: column;
    gap: 3vw; /* Adds a gap of 2vw between the .rightBox elements */
}

.leftBox{
    background-color: #111;
    border-radius: 10px;
}

.rightBox {
    background-color: #111;
    border-radius: 10px;
}

@media screen and (max-width: 1080px) {
    .container {
        padding: 10vw;
        flex-direction: column;
        gap: 5vw;
    }

    .rightSide {
        gap: 5vw;
    }
}