header {
    width: 100vw;
    background-image: url(../images/minimal-desert.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    z-index: 1000;
}