/* Styles de base pour desktop uniquement */
@media (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: var(--body-background);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--accent);
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--primary-dark);
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: var(--accent) var(--body-background);
    }
}